@import bases

#curve_editor
    background: $b20

    #tools
        QLineEdit
            @include q_line_edit
    #knobs_tree
        background: $b20
        alternate-background-color: $b18
        &::item
            height: 20px

            &:selected
                background: mix($base, $b20, 7)
                color: $base
                font-weight: bold

            &:has-children
                color: $b15
                &:selected
                    background: $base
        &::branch
            &:selected
                background: mix($base, $b20, 7)

            &:has-children
                &:open
                    image: url('#{$images}/arrow_down_normal.png')
                &:closed
                    image: url('#{$images}/arrow_right_normal.png')
                &:selected
                    &:open
                        image: url('#{$images}/arrow_down_checked.png')
                    &:closed
                        image: url('#{$images}/arrow_right_checked.png')
                    background: mix($b18, $base, 80)

    #graphics_view
        background: $b7
