@import bases

#file_dialog
    background: $b15
    #center_widget, #bottom_widget
        background: none
    QLineEdit
        @include q_line_edit
    #bottom_widget
        QPushButton
            padding: 10px
            background: $b20
            border-radius: 2px
    QTreeWidget
        @include q_tree_widget
