@import bases

#properties
    QLineEdit
        @include q_line_edit

    background: $b20
    #tools
        background: $b20
    #trim_panels
        background: $b20
    #knob_editor
        #edit_box
            background: $b15
            border-bottom: 1px solid $b12
        #one_line, #name_and_label
            background: none
        QTextEdit
            @include q_line_edit
        #tools, #edit_tools
            border-top: 1px solid $b16
            border-bottom: 1px solid $b12
            background: $b18
        #edit_tools
            QPushButton
                @include button($b22)
                padding: 4px 7px 4px 7px
            #edit_label
                color: $base
            #edit_icon
                background: $b15
                border: 1px solid $b25
                border-radius: 14px

