@import bases

#trim_panel
    background: $b18
    QLineEdit
        @include q_line_edit
    #butttons
        background: $b15
    #controls, #node_tab
        QLineEdit
            padding: 0px
            padding-left: 4px
            height: 20px
        background: $b20
        > QWidget
            background: $b20
        #init_space
            background: transparent
