@import bases

#viewer
    QLineEdit
        @include q_line_edit
    #viewer_graphics
        background: black
    #player
        background: $b18
        QPushButton
            background: $b25
            border-radius: 2px
        #in_out, #input, #output
            background: none
        #frame_rate_menu
            background: $b15
            border-radius: 2px
            border: 1px solid
            border-color: $b14

            &[rate = low]
                background: mix(red, $b15, 7)
                border-color: mix(red, $b15, 50)
            &[rate = good]
                background: mix(green, $b15, 10)
                border-color: mix(green, $b15, 70)
    #timeline
        background: $b12
    #info
        background: black
    #controls
        background: $b20
    #image_correction
        background: $b15
        #knob_floating
            background: none
#empty_viewer
    background: $b20
    color: $b60
    font-size: 25px
