#viewer
    #viewer_graphics
        background: black
    #player
        background: $b18
        QPushButton
            color: white
    #timeline
        background: $b12
    #info
        background: black
    #controls
        background: $b20
    #image_correction
        background: $b15