    background: #30343b; }
    #trim_panel #controls > QWidget {
      background: #30343b; }
    #trim_panel #controls #init_space {
      background: transparent; }
    #trim_panel #controls #knob_check_box {
      background: transparent; }
      #trim_panel #controls #knob_check_box QCheckBox {
        spacing: 0px;
        background: #1e2024;
        border-radius: 2px;
        border: 1px solid #1e2024; }
        #trim_panel #controls #knob_check_box QCheckBox:checked {
          border-color: #76808f; }
        #trim_panel #controls #knob_check_box QCheckBox::indicator {
          border-radius: 2px; }
          #trim_panel #controls #knob_check_box QCheckBox::indicator:checked {
            border: 8px solid transparent;
            border-radius: 7px;
            background: #caced3; }
    #trim_panel #controls #knob_color QWidget {
      background: transparent; }
    #trim_panel #controls #knob_color QLineEdit {
      background: #202327; }
    #trim_panel #controls #knob_color QPushButton {
      background: #3c4149; }
    #trim_panel #controls #knob_color #red_edit {
      border-bottom-color: red; }
      #trim_panel #controls #knob_color #red_edit::focus {
        border-color: red; }
    #trim_panel #controls #knob_color #green_edit {
      border-bottom-color: green; }
      #trim_panel #controls #knob_color #green_edit::focus {
        border-color: green; }
    #trim_panel #controls #knob_color #blue_edit {
      border-bottom-color: blue; }
      #trim_panel #controls #knob_color #blue_edit::focus {
        border-color: blue; }
    #trim_panel #controls #knob_color #alpha_edit {
      border-bottom-color: white; }
      #trim_panel #controls #knob_color #alpha_edit::focus {
        border-color: white; }
    #trim_panel #controls #knob_color #red_slider::groove {
      border-bottom: 1px solid #8f1012; }
    #trim_panel #controls #knob_color #red_slider::handle {
      background: red; }
    #trim_panel #controls #knob_color #green_slider::groove {
      border-bottom: 1px solid #0f5012; }
    #trim_panel #controls #knob_color #green_slider::handle {
      background: green; }
    #trim_panel #controls #knob_color #blue_slider::groove {
      border-bottom: 1px solid #090abd; }
    #trim_panel #controls #knob_color #blue_slider::handle {
      background: blue; }
    #trim_panel #controls #knob_color #alpha_slider::groove {
      border-bottom: 1px solid #8f9092; }
    #trim_panel #controls #knob_color #alpha_slider::handle {
      background: white; }
    #trim_panel #controls QPushButton {
      width: 30px;
      height: 20px;
      border-radius: 2px;
      background: #3c4149; }

#tools {
  background: #2c2f35; }

#tools_separator {
  margin-left: 10px;
  background: none;
  border-left: 1px solid #3c4149; }

#combo_box {
  background: #25282d;
  border-radius: 2px;
  border: 1px solid #22252a; }

