* {
  background: #191b1f;
  selection-background-color: #59522f;
  border: none;
  font-size: 11px;
  color: #aeb4bc;
  outline: none; }

QToolTip {
  background: #191b1f;
  padding: 3px;
  border: 1px solid #5e5016;
  border-radius: 2px; }

QLabel {
  background: transparent; }
  QLabel[disable=true] {
    color: #5e6673; }

QPushButton {
  background: transparent; }
  QPushButton:menu-indicator {
    width: 0px; }

QMainWindow {
  qproperty-windowIcon: url("{{path}}/resources/images/vinacomp.png"); }

QMenu {
  background-color: #292d32;
  color: #caced3;
  border: 1px solid #514924;
  border-radius: 2px; }
  QMenu::icon {
    padding-left: 15px; }
  QMenu::item {
    padding: 4px 15px 4px 30px; }
    QMenu::item:selected {
      background: #353941;
      color: #ffcc00; }
    QMenu::item:disabled {
      color: #7a7e83; }
    QMenu::item:checked {
      text-decoration: underline; }
  QMenu::separator {
    background-color: #30343b;
    margin: 5px;
    height: 1px; }

QMenuBar {
  background-color: #25282d;
  border-bottom: 1px solid #191b1f;
  padding: 2px;
  color: #caced3; }
  QMenuBar::item {
    background-color: transparent; }
    QMenuBar::item:selected {
      color: #ffcc00; }
    QMenuBar::item::pressed {
      background-color: #353941; }

QMessageBox {
  background: #2c2f35; }
  QMessageBox QPushButton {
    padding: 7px;
    border-radius: 2px;
    background: #3c4149;
    border: 1px solid #3c4149; }
    QMessageBox QPushButton::hover {
      color: white;
      border-color: #444950;
      background: #444950; }
    QMessageBox QPushButton::pressed {
      background: #353941;
      color: #ffcc00;
      border-color: #635d3a; }
    QMessageBox QPushButton[active=true] {
      background: #272a30;
      border-color: #272a30;
      color: #ffcc00;
      border-color: #464845; }
      QMessageBox QPushButton[active=true]:hover {
        background: #24262c; }
    QMessageBox QPushButton[disable=true] {
      color: #393d45; }
      QMessageBox QPushButton[disable=true][active=true] {
        border-color: #272a30; }

QSplitter::handle::horizontal, QSplitter::handle::vertical {
  background: #191b1f; }
  QSplitter::handle::horizontal:hover, QSplitter::handle::vertical:hover {
    background: #d1a906; }

QSplitter::handle::horizontal {
  width: 1px; }

QSplitter::handle::vertical {
  height: 1px; }

QScrollBar:vertical, QScrollBar:horizontal {
  background: #191b1f; }

QScrollBar:vertical {
  width: 10px;
  margin: 23px 0px 23px 0px; }

QScrollBar:horizontal {
  height: 10px;
  margin: 0px 23px 0px 23px; }

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
  background: #292d32;
  border-radius: 4px; }
  QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background: #98801e; }

QScrollBar::handle:vertical {
  min-height: 20px; }

QScrollBar::handle:horizontal {
  min-width: 20px; }

QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:vertical, QScrollBar::sub-line:horizontal, QScrollBar::add-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:vertical, QScrollBar::sub-page:horizontal {
  height: 0px;
  width: 0px;
  background: none; }

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
  background: none; }

#slider #slider_center {
  background: #1e2024;
  border-radius: 2px; }
  #slider #slider_center[disable=true] {
    background: #25282d; }

#slider #slider_handler {
  background: #5e6673;
  border-radius: 7px; }
  #slider #slider_handler[disable=true] {
    background: #474d57; }
  #slider #slider_handler[disable=false]:hover {
    background: #ffcc00; }

#knob_floating #init_space, #knob_integer #init_space, #knob_dimensions #init_space, #knob_color #init_space {
  background: None; }

#knob_floating QLineEdit, #knob_integer QLineEdit, #knob_dimensions QLineEdit, #knob_color QLineEdit {
  color: #aeb4bc;
  padding: 3px;
  border-radius: 2px;
  background: #1e2024;
  border: 1px solid #1e2024; }
  #knob_floating QLineEdit:focus, #knob_integer QLineEdit:focus, #knob_dimensions QLineEdit:focus, #knob_color QLineEdit:focus {
    border-color: #8f7612; }
  #knob_floating QLineEdit[animated=true], #knob_integer QLineEdit[animated=true], #knob_dimensions QLineEdit[animated=true], #knob_color QLineEdit[animated=true] {
    background-color: #3a414b;
    border-color: #5b758d;
    color: #95cfff; }
    #knob_floating QLineEdit[animated=true]:focus, #knob_integer QLineEdit[animated=true]:focus, #knob_dimensions QLineEdit[animated=true]:focus, #knob_color QLineEdit[animated=true]:focus {
      border-color: #95cfff; }
  #knob_floating QLineEdit[keyframe=true], #knob_integer QLineEdit[keyframe=true], #knob_dimensions QLineEdit[keyframe=true], #knob_color QLineEdit[keyframe=true] {
    background-color: #304154;
    border-color: #0b7bd9;
    color: #66baff; }
    #knob_floating QLineEdit[keyframe=true]:focus, #knob_integer QLineEdit[keyframe=true]:focus, #knob_dimensions QLineEdit[keyframe=true]:focus, #knob_color QLineEdit[keyframe=true]:focus {
      border-color: #008cff; }
  #knob_floating QLineEdit[expression=true], #knob_integer QLineEdit[expression=true], #knob_dimensions QLineEdit[expression=true], #knob_color QLineEdit[expression=true] {
    background-color: #3b3e41;
    border-color: #726741;
    color: #ffd342; }
    #knob_floating QLineEdit[expression=true]:focus, #knob_integer QLineEdit[expression=true]:focus, #knob_dimensions QLineEdit[expression=true]:focus, #knob_color QLineEdit[expression=true]:focus {
      border-color: #ffd342; }
  #knob_floating QLineEdit[disable=true], #knob_integer QLineEdit[disable=true], #knob_dimensions QLineEdit[disable=true], #knob_color QLineEdit[disable=true] {
    background-color: #25282d;
    border-color: #3c4149;
    color: #474d57; }
    #knob_floating QLineEdit[disable=true]:focus, #knob_integer QLineEdit[disable=true]:focus, #knob_dimensions QLineEdit[disable=true]:focus, #knob_color QLineEdit[disable=true]:focus {
      border-color: #3c4149; }
  #knob_floating QLineEdit[error=true], #knob_integer QLineEdit[error=true], #knob_dimensions QLineEdit[error=true], #knob_color QLineEdit[error=true] {
    background-color: #44333b;
    border-color: #9c1114;
    color: #c80000; }
    #knob_floating QLineEdit[error=true]:focus, #knob_integer QLineEdit[error=true]:focus, #knob_dimensions QLineEdit[error=true]:focus, #knob_color QLineEdit[error=true]:focus {
      border-color: #c80000; }

#knob_floating QPushButton, #knob_integer QPushButton, #knob_dimensions QPushButton, #knob_color QPushButton {
  padding: 7px;
  border-radius: 2px;
  background: #3c4149;
  border: 1px solid #3c4149;
  width: 25px;
  height: 22px;
  padding: 0; }
  #knob_floating QPushButton::hover, #knob_integer QPushButton::hover, #knob_dimensions QPushButton::hover, #knob_color QPushButton::hover {
    color: white;
    border-color: #444950;
    background: #444950; }
  #knob_floating QPushButton::pressed, #knob_integer QPushButton::pressed, #knob_dimensions QPushButton::pressed, #knob_color QPushButton::pressed {
    background: #353941;
    color: #ffcc00;
    border-color: #635d3a; }
  #knob_floating QPushButton[active=true], #knob_integer QPushButton[active=true], #knob_dimensions QPushButton[active=true], #knob_color QPushButton[active=true] {
    background: #272a30;
    border-color: #272a30;
    color: #ffcc00;
    border-color: #464845; }
    #knob_floating QPushButton[active=true]:hover, #knob_integer QPushButton[active=true]:hover, #knob_dimensions QPushButton[active=true]:hover, #knob_color QPushButton[active=true]:hover {
      background: #24262c; }
  #knob_floating QPushButton[disable=true], #knob_integer QPushButton[disable=true], #knob_dimensions QPushButton[disable=true], #knob_color QPushButton[disable=true] {
    color: #393d45; }
    #knob_floating QPushButton[disable=true][active=true], #knob_integer QPushButton[disable=true][active=true], #knob_dimensions QPushButton[disable=true][active=true], #knob_color QPushButton[disable=true][active=true] {
      border-color: #272a30; }

#knob_check_box QPushButton, #knob_text QPushButton, #knob_choice QPushButton, #knob_file QPushButton, #knob_group QPushButton, #knob_separator QPushButton, #knob_label QPushButton {
  padding: 7px;
  border-radius: 2px;
  background: #3c4149;
  border: 1px solid #3c4149;
  width: 25px;
  height: 22px;
  padding: 0; }
  #knob_check_box QPushButton::hover, #knob_text QPushButton::hover, #knob_choice QPushButton::hover, #knob_file QPushButton::hover, #knob_group QPushButton::hover, #knob_separator QPushButton::hover, #knob_label QPushButton::hover {
    color: white;
    border-color: #444950;
    background: #444950; }
  #knob_check_box QPushButton::pressed, #knob_text QPushButton::pressed, #knob_choice QPushButton::pressed, #knob_file QPushButton::pressed, #knob_group QPushButton::pressed, #knob_separator QPushButton::pressed, #knob_label QPushButton::pressed {
    background: #353941;
    color: #ffcc00;
    border-color: #635d3a; }
  #knob_check_box QPushButton[active=true], #knob_text QPushButton[active=true], #knob_choice QPushButton[active=true], #knob_file QPushButton[active=true], #knob_group QPushButton[active=true], #knob_separator QPushButton[active=true], #knob_label QPushButton[active=true] {
    background: #272a30;
    border-color: #272a30;
    color: #ffcc00;
    border-color: #464845; }
    #knob_check_box QPushButton[active=true]:hover, #knob_text QPushButton[active=true]:hover, #knob_choice QPushButton[active=true]:hover, #knob_file QPushButton[active=true]:hover, #knob_group QPushButton[active=true]:hover, #knob_separator QPushButton[active=true]:hover, #knob_label QPushButton[active=true]:hover {
      background: #24262c; }
  #knob_check_box QPushButton[disable=true], #knob_text QPushButton[disable=true], #knob_choice QPushButton[disable=true], #knob_file QPushButton[disable=true], #knob_group QPushButton[disable=true], #knob_separator QPushButton[disable=true], #knob_label QPushButton[disable=true] {
    color: #393d45; }
    #knob_check_box QPushButton[disable=true][active=true], #knob_text QPushButton[disable=true][active=true], #knob_choice QPushButton[disable=true][active=true], #knob_file QPushButton[disable=true][active=true], #knob_group QPushButton[disable=true][active=true], #knob_separator QPushButton[disable=true][active=true], #knob_label QPushButton[disable=true][active=true] {
      border-color: #272a30; }

#knob_choice {
  background: transparent; }

#knob_separator #knob_separator_line {
  border-bottom: 1px solid #25282d; }

#knob_label #start_line, #knob_label #end_line {
  background: transparent;
  border-bottom: 1px solid #3c4149; }

#knob_label QLabel {
  font-weight: bold;
  color: #76808f;
  border: none; }

#knob_button {
  background: none; }
  #knob_button QPushButton {
    padding: 7px;
    border-radius: 2px;
    background: #40464f;
    border: 1px solid #40464f;
    height: 22px;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px; }
    #knob_button QPushButton::hover {
      color: white;
      border-color: #484d56;
      background: #484d56; }
    #knob_button QPushButton::pressed {
      background: #383d45;
      color: #ffcc00;
      border-color: #66613f; }
    #knob_button QPushButton[active=true] {
      background: #292c32;
      border-color: #292c32;
      color: #ffcc00;
      border-color: #4a4d4b; }
      #knob_button QPushButton[active=true]:hover {
        background: #25282d; }
    #knob_button QPushButton[disable=true] {
      color: #3c424a; }
      #knob_button QPushButton[disable=true][active=true] {
        border-color: #292c32; }

#knob_file QLineEdit, #knob_text QLineEdit {
  color: #aeb4bc;
  padding: 3px;
  border-radius: 2px;
  background: #1e2024;
  border: 1px solid #1e2024; }
  #knob_file QLineEdit:focus, #knob_text QLineEdit:focus {
    border-color: #8f7612; }

#knob_check_box {
  background: none; }
  #knob_check_box QCheckBox {
    spacing: 0px;
    background: #1e2024;
    border-radius: 2px;
    border: 1px solid #1e2024; }
    #knob_check_box QCheckBox:checked {
      border-color: #76808f; }
    #knob_check_box QCheckBox::indicator {
      border-radius: 2px; }
      #knob_check_box QCheckBox::indicator:checked {
        border: 8px solid transparent;
        border-radius: 9px;
        background: #caced3; }

#knob_channels #red, #knob_channels #green, #knob_channels #blue, #knob_channels #alpha {
  background: none; }
  #knob_channels #red QCheckBox, #knob_channels #green QCheckBox, #knob_channels #blue QCheckBox, #knob_channels #alpha QCheckBox {
    spacing: 0px;
    background: #1e2024;
    border-radius: 2px;
    border: 1px solid #1e2024; }
    #knob_channels #red QCheckBox:checked, #knob_channels #green QCheckBox:checked, #knob_channels #blue QCheckBox:checked, #knob_channels #alpha QCheckBox:checked {
      border-color: #76808f; }
    #knob_channels #red QCheckBox::indicator, #knob_channels #green QCheckBox::indicator, #knob_channels #blue QCheckBox::indicator, #knob_channels #alpha QCheckBox::indicator {
      border-radius: 2px; }
      #knob_channels #red QCheckBox::indicator:checked, #knob_channels #green QCheckBox::indicator:checked, #knob_channels #blue QCheckBox::indicator:checked, #knob_channels #alpha QCheckBox::indicator:checked {
        border: 8px solid transparent;
        border-radius: 9px;
        background: #caced3; }

#knob_channels #red QCheckBox {
  background: #3b2429;
  border-color: #7c181b; }
  #knob_channels #red QCheckBox:checked {
    border-color: red; }
  #knob_channels #red QCheckBox::indicator {
    border-radius: 2px; }
    #knob_channels #red QCheckBox::indicator:checked {
      border: 8px solid transparent;
      border-radius: 9px;
      background: red; }

#knob_channels #green QCheckBox {
  background: #21352a;
  border-color: #165c1f; }
  #knob_channels #green QCheckBox:checked {
    border-color: #00aa0a; }
  #knob_channels #green QCheckBox::indicator {
    border-radius: 2px; }
    #knob_channels #green QCheckBox::indicator:checked {
      border: 8px solid transparent;
      border-radius: 9px;
      background: #00aa0a; }

#knob_channels #blue QCheckBox {
  background: #213342;
  border-color: #165481; }
  #knob_channels #blue QCheckBox:checked {
    border-color: #0096ff; }
  #knob_channels #blue QCheckBox::indicator {
    border-radius: 2px; }
    #knob_channels #blue QCheckBox::indicator:checked {
      border: 8px solid transparent;
      border-radius: 9px;
      background: #0096ff; }

#knob_channels #alpha QCheckBox {
  background: #35383d;
  border-color: #66686b; }
  #knob_channels #alpha QCheckBox:checked {
    border-color: #c8c8c8; }
  #knob_channels #alpha QCheckBox::indicator {
    border-radius: 2px; }
    #knob_channels #alpha QCheckBox::indicator:checked {
      border: 8px solid transparent;
      border-radius: 9px;
      background: #c8c8c8; }

#knob_channels QPushButton {
  padding: 7px;
  border-radius: 2px;
  background: #3c4149;
  border: 1px solid #3c4149;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px; }
  #knob_channels QPushButton::hover {
    color: white;
    border-color: #444950;
    background: #444950; }
  #knob_channels QPushButton::pressed {
    background: #353941;
    color: #ffcc00;
    border-color: #635d3a; }
  #knob_channels QPushButton[active=true] {
    background: #272a30;
    border-color: #272a30;
    color: #ffcc00;
    border-color: #464845; }
    #knob_channels QPushButton[active=true]:hover {
      background: #24262c; }
  #knob_channels QPushButton[disable=true] {
    color: #393d45; }
    #knob_channels QPushButton[disable=true][active=true] {
      border-color: #272a30; }

#knob_check_box {
  background: none; }
  #knob_check_box QCheckBox {
    spacing: 0px;
    background: #1e2024;
    border-radius: 2px;
    border: 1px solid #1e2024; }
    #knob_check_box QCheckBox:checked {
      border-color: #76808f; }
    #knob_check_box QCheckBox::indicator {
      border-radius: 2px; }
      #knob_check_box QCheckBox::indicator:checked {
        border: 8px solid transparent;
        border-radius: 9px;
        background: #caced3; }

#slider #slider_center {
  background: #1e2024;
  border-radius: 2px; }
  #slider #slider_center[disable=true] {
    background: #25282d; }

#slider #slider_handler {
  background: #5e6673;
  border-radius: 7px; }
  #slider #slider_handler[disable=true] {
    background: #474d57; }
  #slider #slider_handler[disable=false]:hover {
    background: #ffcc00; }

#knob_color QWidget {
  background: transparent; }

#knob_color QLineEdit {
  background: #202327; }

#knob_color #small_button {
  padding: 7px;
  border-radius: 2px;
  background: #3c4149;
  border: 1px solid #3c4149;
  width: 25px;
  height: 22px;
  padding: 0; }
  #knob_color #small_button::hover {
    color: white;
    border-color: #444950;
    background: #444950; }
  #knob_color #small_button::pressed {
    background: #353941;
    color: #ffcc00;
    border-color: #635d3a; }
  #knob_color #small_button[active=true] {
    background: #272a30;
    border-color: #272a30;
    color: #ffcc00;
    border-color: #464845; }
    #knob_color #small_button[active=true]:hover {
      background: #24262c; }
  #knob_color #small_button[disable=true] {
    color: #393d45; }
    #knob_color #small_button[disable=true][active=true] {
      border-color: #272a30; }

#knob_color #color_sample_button {
  width: 25px;
  height: 22px;
  border-radius: 2px; }

#knob_color #red_slider #slider #slider_center {
  background: #1e2024;
  border-radius: 2px; }
  #knob_color #red_slider #slider #slider_center[disable=true] {
    background: #25282d; }

#knob_color #red_slider #slider #slider_handler {
  background: #5e6673;
  border-radius: 7px; }
  #knob_color #red_slider #slider #slider_handler[disable=true] {
    background: #474d57; }
  #knob_color #red_slider #slider #slider_handler[disable=false]:hover {
    background: #ffcc00; }

#knob_color #red_slider #slider #slider_center {
  border-bottom: 1px solid #8f1012; }

#knob_color #red_slider #slider #slider_handler {
  background: red; }

#knob_color #red_slider QLineEdit {
  border-bottom-color: red; }
  #knob_color #red_slider QLineEdit::focus {
    border-color: red; }

#knob_color #green_slider #slider #slider_center {
  background: #1e2024;
  border-radius: 2px; }
  #knob_color #green_slider #slider #slider_center[disable=true] {
    background: #25282d; }

#knob_color #green_slider #slider #slider_handler {
  background: #5e6673;
  border-radius: 7px; }
  #knob_color #green_slider #slider #slider_handler[disable=true] {
    background: #474d57; }
  #knob_color #green_slider #slider #slider_handler[disable=false]:hover {
    background: #ffcc00; }

#knob_color #green_slider #slider #slider_center {
  border-bottom: 1px solid #0f5012; }

#knob_color #green_slider #slider #slider_handler {
  background: green; }

#knob_color #green_slider QLineEdit {
  border-bottom-color: green; }
  #knob_color #green_slider QLineEdit::focus {
    border-color: green; }

#knob_color #blue_slider #slider #slider_center {
  background: #1e2024;
  border-radius: 2px; }
  #knob_color #blue_slider #slider #slider_center[disable=true] {
    background: #25282d; }

#knob_color #blue_slider #slider #slider_handler {
  background: #5e6673;
  border-radius: 7px; }
  #knob_color #blue_slider #slider #slider_handler[disable=true] {
    background: #474d57; }
  #knob_color #blue_slider #slider #slider_handler[disable=false]:hover {
    background: #ffcc00; }

#knob_color #blue_slider #slider #slider_center {
  border-bottom: 1px solid #090abd; }

#knob_color #blue_slider #slider #slider_handler {
  background: blue; }

#knob_color #blue_slider QLineEdit {
  border-bottom-color: blue; }
  #knob_color #blue_slider QLineEdit::focus {
    border-color: blue; }

#knob_color #alpha_slider #slider #slider_center {
  background: #1e2024;
  border-radius: 2px; }
  #knob_color #alpha_slider #slider #slider_center[disable=true] {
    background: #25282d; }

#knob_color #alpha_slider #slider #slider_handler {
  background: #5e6673;
  border-radius: 7px; }
  #knob_color #alpha_slider #slider #slider_handler[disable=true] {
    background: #474d57; }
  #knob_color #alpha_slider #slider #slider_handler[disable=false]:hover {
    background: #ffcc00; }

#knob_color #alpha_slider #slider #slider_center {
  border-bottom: 1px solid #8f9092; }

#knob_color #alpha_slider #slider #slider_handler {
  background: white; }

#knob_color #alpha_slider QLineEdit {
  border-bottom-color: white; }
  #knob_color #alpha_slider QLineEdit::focus {
    border-color: white; }

#knob_group QWidget {
  padding: 0px;
  background: #25282d;
  border-top-left-radius: 3px; }
  #knob_group QWidget[open=false] {
    border-bottom-left-radius: 3px; }

#knob_group QLabel {
  border-top-left-radius: none;
  border-top-right-radius: 3px;
  color: #929aa5;
  font-weight: bold;
  padding-left: 3px; }
  #knob_group QLabel[open=false] {
    border-bottom-right-radius: 3px; }

#shuffle_node > QWidget {
  background: none; }
  #shuffle_node > QWidget > QLabel {
    padding: 6px;
    border: 1px solid #25282d;
    border-radius: 3px;
    background: #2c2f35;
    font-weight: bold; }

#shuffle_node #input_channels, #shuffle_node #output_channels {
  background: #292d32;
  border-radius: 3px;
  border: 1px solid #25282d; }
  #shuffle_node #input_channels #inputs_menu, #shuffle_node #input_channels #input, #shuffle_node #output_channels #inputs_menu, #shuffle_node #output_channels #input {
    background: none; }
  #shuffle_node #input_channels #output, #shuffle_node #output_channels #output {
    background: none; }
    #shuffle_node #input_channels #output #cwhite, #shuffle_node #input_channels #output #cblack, #shuffle_node #output_channels #output #cwhite, #shuffle_node #output_channels #output #cblack {
      width: 8px;
      height: 8px;
      border-radius: 6px;
      border: 2px solid none; }
    #shuffle_node #input_channels #output #cblack, #shuffle_node #output_channels #output #cblack {
      border-color: black;
      background: black; }
    #shuffle_node #input_channels #output #cwhite, #shuffle_node #output_channels #output #cwhite {
      border-color: white;
      background: white; }
    #shuffle_node #input_channels #output #cwhite[connected=false], #shuffle_node #input_channels #output #cblack[connected=false], #shuffle_node #output_channels #output #cwhite[connected=false], #shuffle_node #output_channels #output #cblack[connected=false] {
      background: none; }

#file_dialog {
  background: #25282d; }
  #file_dialog #center_widget, #file_dialog #bottom_widget {
    background: none; }
  #file_dialog QLineEdit {
    color: #aeb4bc;
    padding: 3px;
    border-radius: 2px;
    background: #1e2024;
    border: 1px solid #1e2024; }
    #file_dialog QLineEdit:focus {
      border-color: #8f7612; }
  #file_dialog #bottom_widget QPushButton {
    padding: 7px;
    border-radius: 2px;
    background: #30343b;
    border: 1px solid #30343b;
    padding: 10px; }
    #file_dialog #bottom_widget QPushButton::hover {
      color: white;
      border-color: #383c43;
      background: #383c43; }
    #file_dialog #bottom_widget QPushButton::pressed {
      background: #2b2f35;
      color: #ffcc00;
      border-color: #59522f; }
    #file_dialog #bottom_widget QPushButton[active=true] {
      background: #22252a;
      border-color: #22252a;
      color: #ffcc00;
      border-color: #3a3c38; }
      #file_dialog #bottom_widget QPushButton[active=true]:hover {
        background: #202327; }
    #file_dialog #bottom_widget QPushButton[disable=true] {
      color: #2e3238; }
      #file_dialog #bottom_widget QPushButton[disable=true][active=true] {
        border-color: #22252a; }
  #file_dialog #tools {
    background: transparent; }
  #file_dialog #combo_box {
    background: #202327; }
  #file_dialog QSplitter {
    background: transparent; }
    #file_dialog QSplitter::handle::horizontal, #file_dialog QSplitter::handle::vertical {
      background: none; }
      #file_dialog QSplitter::handle::horizontal::hover, #file_dialog QSplitter::handle::vertical::hover {
        background: #ffcc00; }
    #file_dialog QSplitter QTreeWidget {
      border-radius: 3px; }
    #file_dialog QSplitter #bookmark_tree {
      background-color: #2e3238;
      alternate-background-color: #32373e;
      border: 1px solid #1e2024;
      margin-right: 7px; }
      #file_dialog QSplitter #bookmark_tree::item {
        background: transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #25282d; }
        #file_dialog QSplitter #bookmark_tree::item:selected {
          background: #383a35;
          border-color: rgba(255, 204, 0, 0.5);
          color: #caced3; }
          #file_dialog QSplitter #bookmark_tree::item:selected:hover {
            background: #383a35; }
        #file_dialog QSplitter #bookmark_tree::item:hover {
          background-color: rgba(255, 204, 0, 0.02);
          border-color: rgba(255, 204, 0, 0.3); }
      #file_dialog QSplitter #bookmark_tree::branch {
        background: transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #25282d; }
        #file_dialog QSplitter #bookmark_tree::branch:selected {
          background: #383a35;
          border-color: rgba(255, 204, 0, 0.5);
          color: #caced3; }
          #file_dialog QSplitter #bookmark_tree::branch:selected:hover {
            background: #383a35; }
        #file_dialog QSplitter #bookmark_tree::branch:hover {
          background-color: rgba(255, 204, 0, 0.02);
          border-color: rgba(255, 204, 0, 0.3); }
      #file_dialog QSplitter #bookmark_tree QHeaderView::section {
        background-color: #2e3238;
        padding: 5px 10px 5px 10px;
        border: 0px solid none;
        margin-left: 1px;
        margin-top: 1px;
        margin-bottom: 1px; }
    #file_dialog QSplitter #folder_tree {
      background-color: #2e3238;
      alternate-background-color: #32373e;
      border-right: 1px solid #191b1f;
      border-bottom: 1px solid #191b1f;
      border-left: 1px solid #1e2024;
      margin-left: 7px; }
      #file_dialog QSplitter #folder_tree::item {
        background: transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #3c4149; }
        #file_dialog QSplitter #folder_tree::item:selected {
          background: #383a35;
          border-color: rgba(255, 204, 0, 0.5);
          color: #caced3; }
          #file_dialog QSplitter #folder_tree::item:selected:hover {
            background: #383a35; }
        #file_dialog QSplitter #folder_tree::item:hover {
          background-color: rgba(255, 204, 0, 0.02);
          border-color: rgba(255, 204, 0, 0.3); }
      #file_dialog QSplitter #folder_tree::branch {
        background: transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #3c4149; }
        #file_dialog QSplitter #folder_tree::branch:selected {
          background: #383a35;
          border-color: rgba(255, 204, 0, 0.5);
          color: #caced3; }
          #file_dialog QSplitter #folder_tree::branch:selected:hover {
            background: #383a35; }
        #file_dialog QSplitter #folder_tree::branch:hover {
          background-color: rgba(255, 204, 0, 0.02);
          border-color: rgba(255, 204, 0, 0.3); }
      #file_dialog QSplitter #folder_tree QHeaderView::section {
        background-color: #2e3238;
        padding: 5px 10px 5px 10px;
        border: 0px solid none;
        margin-left: 1px;
        margin-top: 1px;
        margin-bottom: 1px; }
  #file_dialog #preview_image {
    background: black;
    border-radius: 4px; }

#node_finder QLineEdit {
  color: #aeb4bc;
  padding: 3px;
  border-radius: 2px;
  background: #1e2024;
  border: 1px solid #1e2024; }
  #node_finder QLineEdit:focus {
    border-color: #8f7612; }

#node_finder QTreeWidget {
  background-color: #272a30;
  alternate-background-color: #2c2f35;
  border: 1px solid #202327;
  border-radius: 3px; }
  #node_finder QTreeWidget::item {
    background: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #30343b; }
    #node_finder QTreeWidget::item:selected {
      background: #32322e;
      border-color: rgba(255, 204, 0, 0.5);
      color: #caced3; }
      #node_finder QTreeWidget::item:selected:hover {
        background: #32322e; }
    #node_finder QTreeWidget::item:hover {
      background-color: rgba(255, 204, 0, 0.02);
      border-color: rgba(255, 204, 0, 0.3); }
  #node_finder QTreeWidget::branch {
    background: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #30343b; }
    #node_finder QTreeWidget::branch:selected {
      background: #32322e;
      border-color: rgba(255, 204, 0, 0.5);
      color: #caced3; }
      #node_finder QTreeWidget::branch:selected:hover {
        background: #32322e; }
    #node_finder QTreeWidget::branch:hover {
      background-color: rgba(255, 204, 0, 0.02);
      border-color: rgba(255, 204, 0, 0.3); }
  #node_finder QTreeWidget QHeaderView::section {
    background-color: #272a30;
    padding: 5px 10px 5px 10px;
    border: 0px solid none;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px; }

#node_graph #nodes_bar {
  background: #2c2f35;
  border-bottom: 1px solid #25282d; }
  #node_graph #nodes_bar QLineEdit {
    color: #aeb4bc;
    padding: 3px;
    border-radius: 2px;
    background: #1e2024;
    border: 1px solid #1e2024; }
    #node_graph #nodes_bar QLineEdit:focus {
      border-color: #8f7612; }
  #node_graph #nodes_bar #nodes_widget {
    background: none; }

#node_graph #node_view {
  background: #30343b; }

#curve_editor {
  background: #30343b; }
  #curve_editor #tools QLineEdit {
    color: #aeb4bc;
    padding: 3px;
    border-radius: 2px;
    background: #1e2024;
    border: 1px solid #1e2024; }
    #curve_editor #tools QLineEdit:focus {
      border-color: #8f7612; }
  #curve_editor #knobs_tree {
    background: #30343b;
    alternate-background-color: #2c2f35; }
    #curve_editor #knobs_tree::item {
      height: 20px; }
      #curve_editor #knobs_tree::item:selected {
        background: #3e3f37;
        color: #ffcc00;
        font-weight: bold; }
      #curve_editor #knobs_tree::item:has-children {
        color: #25282d; }
        #curve_editor #knobs_tree::item:has-children:selected {
          background: #ffcc00; }
    #curve_editor #knobs_tree::branch:selected {
      background: #3e3f37; }
    #curve_editor #knobs_tree::branch:has-children:open {
      image: url("{{path}}/resources/images/arrow_down_normal.png"); }
    #curve_editor #knobs_tree::branch:has-children:closed {
      image: url("{{path}}/resources/images/arrow_right_normal.png"); }
    #curve_editor #knobs_tree::branch:has-children:selected {
      background: #564e2a; }
      #curve_editor #knobs_tree::branch:has-children:selected:open {
        image: url("{{path}}/resources/images/arrow_down_checked.png"); }
      #curve_editor #knobs_tree::branch:has-children:selected:closed {
        image: url("{{path}}/resources/images/arrow_right_checked.png"); }
  #curve_editor #graphics_view {
    background: #121416; }

#properties {
  background: #30343b; }
  #properties QLineEdit {
    color: #aeb4bc;
    padding: 3px;
    border-radius: 2px;
    background: #1e2024;
    border: 1px solid #1e2024; }
    #properties QLineEdit:focus {
      border-color: #8f7612; }
  #properties #tools {
    background: #30343b; }
  #properties #trim_panels {
    background: #30343b; }
  #properties #knob_editor #edit_box {
    background: #25282d;
    border-bottom: 1px solid #1e2024; }
  #properties #knob_editor #one_line, #properties #knob_editor #name_and_label {
    background: none; }
  #properties #knob_editor QTextEdit {
    color: #aeb4bc;
    padding: 3px;
    border-radius: 2px;
    background: #1e2024;
    border: 1px solid #1e2024; }
    #properties #knob_editor QTextEdit:focus {
      border-color: #8f7612; }
  #properties #knob_editor #tools, #properties #knob_editor #edit_tools {
    border-top: 1px solid #272a30;
    border-bottom: 1px solid #1e2024;
    background: #2c2f35; }
  #properties #knob_editor #edit_tools QPushButton {
    padding: 7px;
    border-radius: 2px;
    background: #353941;
    border: 1px solid #353941;
    padding: 4px 7px 4px 7px; }
    #properties #knob_editor #edit_tools QPushButton::hover {
      color: white;
      border-color: #3d4149;
      background: #3d4149; }
    #properties #knob_editor #edit_tools QPushButton::pressed {
      background: #2f333a;
      color: #ffcc00;
      border-color: #5d5634; }
    #properties #knob_editor #edit_tools QPushButton[active=true] {
      background: #24272d;
      border-color: #24272d;
      color: #ffcc00;
      border-color: #3f403e; }
      #properties #knob_editor #edit_tools QPushButton[active=true]:hover {
        background: #212429; }
    #properties #knob_editor #edit_tools QPushButton[disable=true] {
      color: #32363e; }
      #properties #knob_editor #edit_tools QPushButton[disable=true][active=true] {
        border-color: #24272d; }
  #properties #knob_editor #edit_tools #edit_label {
    color: #ffcc00; }
  #properties #knob_editor #edit_tools #edit_icon {
    background: #25282d;
    border: 1px solid #3c4149;
    border-radius: 14px; }

#script_editor {
  background: #30343b; }
  #script_editor #tools {
    background: #30343b;
    border-bottom: 1px solid #1e2024; }
  #script_editor #code_editor {
    font-size: 14px; }
  #script_editor #output {
    background: #25282d;
    font-size: 14px; }
  #script_editor #expression_editor_bar {
    background: #2c2f35;
    border-bottom: 1px solid #1e2024; }
    #script_editor #expression_editor_bar QPushButton {
      border-radius: 3px;
      padding: 4px 7px 4px 7px;
      background: #353941; }
      #script_editor #expression_editor_bar QPushButton:hover {
        color: #ffcc00; }
    #script_editor #expression_editor_bar #exp_label {
      color: #ffcc00; }
    #script_editor #expression_editor_bar #code_icon {
      background: none; }
  #script_editor #group_box {
    background: none; }
    #script_editor #group_box QPushButton {
      padding: 7px;
      border-radius: 2px;
      background: #40464f;
      border: 1px solid #40464f;
      padding-top: 2px;
      padding-bottom: 2px; }
      #script_editor #group_box QPushButton::hover {
        color: white;
        border-color: #484d56;
        background: #484d56; }
      #script_editor #group_box QPushButton::pressed {
        background: #383d45;
        color: #ffcc00;
        border-color: #66613f; }
      #script_editor #group_box QPushButton[active=true] {
        background: #292c32;
        border-color: #292c32;
        color: #ffcc00;
        border-color: #4a4d4b; }
        #script_editor #group_box QPushButton[active=true]:hover {
          background: #25282d; }
      #script_editor #group_box QPushButton[disable=true] {
        color: #3c424a; }
        #script_editor #group_box QPushButton[disable=true][active=true] {
          border-color: #292c32; }
    #script_editor #group_box #current_group_label {
      color: #ffcc00; }

#settings QTreeWidget {
  background-color: #292d32;
  alternate-background-color: #2e3238;
  border-left: 1px solid #191b1f;
  border-bottom: 1px solid #191b1f; }
  #settings QTreeWidget::item {
    background: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #353941; }
    #settings QTreeWidget::item:selected {
      background: #343530;
      border-color: rgba(255, 204, 0, 0.5);
      color: #caced3; }
      #settings QTreeWidget::item:selected:hover {
        background: #343530; }
    #settings QTreeWidget::item:hover {
      background-color: rgba(255, 204, 0, 0.02);
      border-color: rgba(255, 204, 0, 0.3); }
  #settings QTreeWidget::branch {
    background: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #353941; }
    #settings QTreeWidget::branch:selected {
      background: #343530;
      border-color: rgba(255, 204, 0, 0.5);
      color: #caced3; }
      #settings QTreeWidget::branch:selected:hover {
        background: #343530; }
    #settings QTreeWidget::branch:hover {
      background-color: rgba(255, 204, 0, 0.02);
      border-color: rgba(255, 204, 0, 0.3); }
  #settings QTreeWidget QHeaderView::section {
    background-color: #292d32;
    padding: 5px 10px 5px 10px;
    border: 0px solid none;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px; }

#settings #settings_content {
  background: #30343b;
  border-bottom: 1px solid #191b1f; }
  #settings #settings_content #general_widget, #settings #settings_content #auto_save_widget, #settings #settings_content #plugins_widget, #settings #settings_content #appearance_widget {
    background: none; }

#settings #init_space {
  background: none; }

#settings QTextEdit {
  color: #aeb4bc;
  padding: 3px;
  border-radius: 2px;
  background: #1e2024;
  border: 1px solid #1e2024; }
  #settings QTextEdit:focus {
    border-color: #8f7612; }

#settings #dialog_buttons {
  background: #2e3238;
  border-bottom: 1px solid #191b1f; }
  #settings #dialog_buttons QPushButton {
    padding-left: 10px; }
    #settings #dialog_buttons QPushButton:hover {
      color: #ffcc00; }

#settings #plugin_tree {
  background-color: #272a30;
  alternate-background-color: #22252a;
  border-right: 1px solid #191b1f; }
  #settings #plugin_tree::item {
    background: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #353941; }
    #settings #plugin_tree::item:selected {
      background: #32322e;
      border-color: rgba(255, 204, 0, 0.5);
      color: #caced3; }
      #settings #plugin_tree::item:selected:hover {
        background: #32322e; }
    #settings #plugin_tree::item:hover {
      background-color: rgba(255, 204, 0, 0.02);
      border-color: rgba(255, 204, 0, 0.3); }
  #settings #plugin_tree::branch {
    background: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #353941; }
    #settings #plugin_tree::branch:selected {
      background: #32322e;
      border-color: rgba(255, 204, 0, 0.5);
      color: #caced3; }
      #settings #plugin_tree::branch:selected:hover {
        background: #32322e; }
    #settings #plugin_tree::branch:hover {
      background-color: rgba(255, 204, 0, 0.02);
      border-color: rgba(255, 204, 0, 0.3); }
  #settings #plugin_tree QHeaderView::section {
    background-color: #272a30;
    padding: 5px 10px 5px 10px;
    border: 0px solid none;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px; }

#settings #plugin_buttons {
  background: none; }

#settings #tools {
  background: none; }

#tool_bar {
  background: #25282d;
  border-left: 1px solid #191b1f; }

#viewer QLineEdit {
  color: #aeb4bc;
  padding: 3px;
  border-radius: 2px;
  background: #1e2024;
  border: 1px solid #1e2024; }
  #viewer QLineEdit:focus {
    border-color: #8f7612; }

#viewer #viewer_graphics {
  background: black; }

#viewer #player {
  background: #2c2f35; }
  #viewer #player QPushButton {
    background: #3c4149;
    border-radius: 2px; }
  #viewer #player #in_out, #viewer #player #input, #viewer #player #output {
    background: none; }
  #viewer #player #frame_rate_menu {
    background: #25282d;
    border-radius: 2px;
    border: 1px solid;
    border-color: #22252a; }
    #viewer #player #frame_rate_menu[rate=low] {
      background: #34252a;
      border-color: #921417; }
    #viewer #player #frame_rate_menu[rate=good] {
      background: #213129;
      border-color: #0b660e; }

#viewer #timeline {
  background: #1e2024; }

#viewer #info {
  background: black; }

#viewer #controls {
  background: #30343b; }

#viewer #image_correction {
  background: #25282d; }
  #viewer #image_correction #knob_floating {
    background: none; }

#empty_viewer {
  background: #30343b;
  color: #929aa5;
  font-size: 25px; }

#tab_widget #tab {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background: #25282d; }
  #tab_widget #tab[_checked='true'] {
    background: #30343b; }
    #tab_widget #tab[_checked='true'] > QLabel {
      color: #ffcc00; }

#panels_layout {
  background: #191b1f; }

#trim_panel {
  background: #2c2f35; }
  #trim_panel #tools {
    background: #25282d; }
  #trim_panel #knobs_tab {
    background: #30343b; }
    #trim_panel #knobs_tab QLineEdit {
      padding: 0px;
      padding-left: 4px;
      height: 20px; }
    #trim_panel #knobs_tab > QWidget {
      background: #30343b; }
    #trim_panel #knobs_tab #init_space {
      background: transparent; }

#trim_panel_float_dock #trim_panel {
  background: #2c2f35; }
  #trim_panel_float_dock #trim_panel #tools {
    background: #25282d; }
  #trim_panel_float_dock #trim_panel #knobs_tab {
    background: #30343b; }
    #trim_panel_float_dock #trim_panel #knobs_tab QLineEdit {
      padding: 0px;
      padding-left: 4px;
      height: 20px; }
    #trim_panel_float_dock #trim_panel #knobs_tab > QWidget {
      background: #30343b; }
    #trim_panel_float_dock #trim_panel #knobs_tab #init_space {
      background: transparent; }

#tools {
  background: #2c2f35; }

#tools_vertical_separator {
  margin-left: 10px;
  background: none;
  border-left: 1px solid #3c4149; }

#tools_horizontal_separator {
  margin-top: 10px;
  background: none;
  border-top: 1px solid #3c4149; }

#combo_box {
  background: #25282d;
  border-radius: 2px;
  border: 1px solid #22252a; }

#project_settings {
  background: #30343b; }

