/* Black blue color */
QMainWindow {
  qproperty-windowIcon: url("/home/pancho/Documents/develop/vinacomp/resources/images/vinacomp.png"); }

#node_graph QGraphicsView {
  background: #2e3238; }

#panels_layout #top_buttons {
  background: green; }

#panels_layout #tab_section {
  background: blue; }

