@import small_button
@import slider

#knob_color
    QWidget
        background: transparent
    QLineEdit
        background: $b13
    #small_button
        @include small_button
    #color_sample_button
        width: 25px
        height: 22px
        border-radius: 2px

    @mixin slider_color($color, $percent)
        #slider
            @include slider_base
            #slider_center
                border-bottom: 1px solid mix($color, $b12, $percent)
            #slider_handler
                background: $color
        QLineEdit
            border-bottom-color: $color
            &::focus
                border-color: $color
    #red_slider
        @include slider_color(red, 50%)

    #green_slider
        @include slider_color(green, 50%)

    #blue_slider
        @include slider_color(blue, 70%)

    #alpha_slider
        @include slider_color(white, 50%)
