@import small_button
@import slider

#knob_color
    QWidget
        background: transparent
    QLineEdit
        background: $b13
    @include small_button
    #red_edit
        border-bottom-color: red
        &::focus
            border-color: red
    #green_edit
        border-bottom-color: green
        &::focus
            border-color: green
    #blue_edit
        border-bottom-color: blue
        &::focus
            border-color: blue
    #alpha_edit
        border-bottom-color: white
        &::focus
            border-color: white
    #red_slider
        @include slider_base
        #slider_center
            border-bottom: 1px solid mix(red, $b12, 50%)
        #slider_handler
            background: red
    #green_slider
        @include slider_base
        #slider_center
            border-bottom: 1px solid mix(green, $b12, 50%)
        #slider_handler
            background: green
    #blue_slider
        @include slider_base
        #slider_center
            border-bottom: 1px solid mix(blue, $b12, 70%)
        #slider_handler
            background: blue
    #alpha_slider
        @include slider_base
        #slider_center
            border-bottom: 1px solid mix(white, $b12, 50%)
        #slider_handler
            background: white
