@mixin slider_base
    #slider_center
        background: $b12
        border-radius: 2px

    #slider_handler
        background: $b40
        border-radius: 7px
        &:hover
            background: $base

#slider
    @include slider_base
